/* Add your custom styles here */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #007bff;
}

h2 {
  color: #4caf50;
}

p {
  margin: 10px 0;
}

ul {
  margin: 10px 0;
  padding-left: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Add styles for the footer */
footer {
  width: 100%;
  background: #fbe4e4;
  text-align: center;
  padding: 20px 0;
}

/* Add styles for the copyright section in the footer */
footer .end {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  background-color: #e9e9e9;
}

footer .end span {
  color: #fda211;
  font-size: 16px;
}

footer .end span i {
  margin-right: 5px;
}
